#fondo {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/Images/quienSoy/quien-soy-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#fondo span,
h1,
p,
th,
td {
  color: rgb(151, 38, 112);

}