<div id="fondo" class="position-relative overflow-hidden">
    <div class="container">
        <div class="container-fluid">
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img [src]="datosDeGit.avatar_url" />
                            <div class="card-body">
                                <h2 class="card-title">{{ datosDeGit.login }}</h2>
                                <label>{{datosDeGit.name}}</label>
                                <p class="card-text">{{ datosDeGit.bio }}</p>
                                <a [href]="datosDeGit.html_url">Ir al Git</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-top">
                        <div class="card">
                            <div class="card-header">
                                <span class="badge">{{ datosDeGit.public_repos }} Repositorios</span>
                                <span class="badge">{{ datosDeGit.followers }} Seguidores</span>
                                <span class="badge">{{ datosDeGit.following }} Siguiendo</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Nombre: <span>{{ datosDeGit.login }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        Link: {{ datosDeGit.html_url }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="px-3 pt-md-5 px-md-5">
                                <img src="../../../assets/Images/adivinarPalabra/portadaAdivinarPalabra.jpg">
                            </div>
                            <div>
                                <h1>Juego propio: Adivina Palabra</h1>
                                <p>El juego consiste en adivinar cual es la palabra que se encuentra desordenada. Tenemos las letras,
                                    solo hay que ordenarlas correctamente!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="fondo" class="position-relative overflow-hidden">
    <div class="container main-container mt-3">

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

            <div class="px-3 pt-md-5 px-md-5">
                <img src="../../../assets/Images/adivinarPalabra/portadaAdivinarPalabra.jpg">
            </div>
            <div>
                <h1>Juego propio: Adivina Palabra</h1>
                <p>El juego consiste en adivinar cual es la palabra que se encuentra desordenada. Tenemos las letras,
                    solo hay que ordenarlas correctamente!</p>
            </div>

        </div>
    </div>

</div> -->