<div id="background" class="position-relative overflow-hidden">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Iniciar Sesion</h1>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <br>
                    <div class="d-grid gap-2">
                        <button [disabled]="!loginForm.valid" class="btn btn-dark btn-lg">INGRESAR</button>
                    </div>
                </form>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-info btn-lg" (click)="accesoRapido()">Acceso rapido</button>
                    <button class="btn btn-info btn-lg" (click)="ingresarConGoogle()">Ingresar con Google</button>
                </div>
            </div>
        </div>
    </div>
</div>